/* Form group */
.form-group {
  @apply mb-6;
}

.form-group:last-child {
  @apply mb-0;
}


/* Inputs */
label {
  @apply font-semibold text-sm mb-2 block;
}

input[type="text"],
input[type="email"],
input[type="phone"],
select,
textarea {
  @apply outline-none text-base w-full py-1 px-2 transition duration-200 appearance-none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="phone"]:focus,
select:focus,
textarea:focus {
  @apply outline-none shadow-outline;
}

input[type="text"].input-heading {
  @apply border-transparent shadow-none px-2 pl-8 text-gray-800;
}

input[type="text"].input-heading:disabled {
  @apply text-gray-600;
}

input[type="text"].input-heading:focus {
  @apply border-blue-500;
}

textarea {
  min-height: 200px;
  resize: vertical;
}

input[type="file"] {
  display: none;
}

.wp-core-ui .attachment .landscape img,
.attachment-info .thumbnail img {
  border: none;
}

.toggle-checkbox {
  @apply rounded-full border-0 h-6 m-0 shadow-sm min-w-0 w-6 !important;
}

.toggle-checkbox:checked::before {
  @apply hidden !important;
}

.toggle-checkbox:checked {
  @apply border-blue-500 right-0 !important;
}
.toggle-checkbox:checked + .toggle-label {
  @apply bg-blue-500 !important;
}

td.has-error {
  @apply text-red-500 !important;
}

td.has-error input {
  @apply border-red-500 !important;
}
